.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
}

.left-buttons {
  display: flex;
}

.right-buttons {
  display: flex;
}

.navigation-button {
  margin-right: 10px;
  padding: 6px 12px;
  text-decoration: none;
  background-color: #ddd;
  color: #333;
  border-radius: 4px;
}
