<div class="navigation">
    <div class="left-buttons">
        <a routerLink="/" class="navigation-button">Home</a>
        <a *ngIf="isLoggedIn" routerLink="/protected" class="navigation-button">Protected routed</a>
    </div>
    <div class="right-buttons">
        <ng-container *ngIf="isLoggedIn">
            <a class="navigation-button">User:{{username}}</a>
            <a routerLink="/logout" class="navigation-button">Logout</a>
        </ng-container>
        <ng-container *ngIf="!isLoggedIn">
            <a routerLink="/login" class="navigation-button">Login</a>
            <a routerLink="/register" class="navigation-button">Register</a>
        </ng-container>    
    </div>
</div>